#Anotações do projeto
anotacoes.txt
# Laravel padrão
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
Homestead.json
Homestead.yaml
/.idea
/.vscode
/.phpunit.result.cache
.phpunit.result.cache
/.DS_Store
Thumbs.db
sysagenda.sqlite
sysagenda.sql
app 2025 08 27.zip
app 2025 08 28 v1.1.zip
app 2025 08 28.zip
